



.container{
   
   
    padding-top: 100px;
   
}

.cart-icon{
    font-size: 20px;
    text-align: center;
    
}

.icom{
    color: rgb(212, 51, 51);
}

.cart-img{
    width: 100px;
    height: 100px;
}

.cart-td{
    color: black;
    font-size: 20px;
    text-align: center;
   
}

.cart-btn{
    border-radius: 10px;
    background-color: rgb(56, 154, 169);
    color: white;
    font-size: 20px;
    border:none;
   
}

.btn-td{
    text-align: center;
}



.totalpricebox{
    background-color: aqua;
    display: flex;
    justify-content: end ;
}

#h4{
    
    /* text-align: end; */
}

#btn{
   border: none;
   background-color: rgb(95, 154, 6);
   color: white;
   height: 40px;
   width: 100px;
   margin-bottom: 5px;
   font-weight: bold;
   

}





