



.main-plo{
    
    padding-top: 100px;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.address-plo{
    height: 600px;
    width: 600px;
    /* background-color: aqua; */
    border: 2px solid silver;
    border-radius: 5px;
}

.payment-plo{
    width: 400px;
    height: 400px;
    /* background-color: brown; */
    border: 2px solid silver ;
    border-radius: 5px;
}

h3{
    text-align: center;
    text-decoration: underline;
}
p{
    text-align: center;
}
.form-plo{
    height: 500px;
    display: flex;
    justify-content: center;
    
}

.input{
    width: 250px;
}

label{
    font-size: 15px;
    font-weight: bold;
}


.box-plo{
    height: 300px;
    display: flex;
    justify-content: center;
    
}

.box-plo h5{
    margin-top: 50px;
}


.btn-plo{
    border: none;
    background-color: green;
    color: white;
    width: 120px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
}
