



.main-proadd{

   width: 100%;
   
  
   padding-top: 100px;
   display:flex ;
   justify-content: center;

}

.formbox-proadd{

     width: 500px;
     height: 700px;
     /* background-color: aqua; */
     border-radius: 10px;
     border: 2px solid black;
}

.title-proadd{
    text-align: center;
    font-size: 25px;
}

.form-proadd{
    margin-top: 50px;
    margin-left: 80px;
}

.form-proadd input{
    width: 270px;
    border-radius: 5px;
}

.img-box-proadd{

    width: 100px;
    height: 100px;
   
}

.img-box-proadd img{

    width: 100%;
    height: 100%;
    margin-left: 0;
}

.btn-proadd{
    
    margin-left: 150px;
    border: none;
    background-color: blue;
    color: white;
    width: 100px;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;




}

