


.main-pl{

    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 50px;
    
}





.mainbox-pl{

    width: 800px;
    height: 500px;
    /* background-color: aqua; */
    display: flex;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    border: 2px solid rgb(164, 186, 196);
    
}

.pyment-pl{

    width: 400px;
    height: 100%;
    /* background-color: blueviolet; */
    padding-top: 30px;
    background-color: rgb(65, 100, 74);
    
}

.pyment-box-pl{

    width: 300px;
    height: 350px;
   border: 2px solid black;
    margin-top:50px;
    margin-left: 25px;
    padding-top: 20px;
    padding-left: 30px;
    background-color: white;
    border-radius: 10px;
}

.amount-pl{

    color: black;
    font-size: 20px;
   

    
}

.cod-text{
    font-weight: bold;
}

.pyapal-pl{
    width: 200px;
    height: 30px;
}

.cod-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.radio-pl{
    width: 15px;
    height: 15px;
}

.line-pl{
    width: 230px;
    height: 2px;
    background-color: brown;
    margin-top: 20px;
    margin-bottom: 20px;
}







.form-pl{

    width: 500px;
    height: 100%;
    /* background-color: brown; */
    padding-top: 70px;
    padding-left: 50px;
    background-color: rgb(216, 217, 218);
    /* background-color: rgb(248, 240, 229); */
   
}

/* .img-{

    margin-left: 70px;
    width: 200px;
    height: 200px;
} */



.title-pl{

    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: white;
}


.input-pl{
    width: 300px;
    height: 40px;
}


.btn-pl{
    margin-top: 50px;
    margin-left: 70px;
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(20, 30, 70);
    font-size: 20px;
    
}

.loding-sig{

    margin-left: 150px;
    margin-top: 50px;
}

.span-pl{

    color: red;
}

.loding-img-pl{

    width: 300px;
    height: 300px;


}
